@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 2vmin; /* 12px */
}

nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em; /* 12px */
  font-weight: 700;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 5vw; /* 80px */
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
  text-shadow: 1px 1px 20px #000000;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 3vh; /* 36px */
  font-weight: 400;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 1.5vw; /* 24px */
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: -10px;
  text-shadow: 1px 1px 20px #000000;
}

.check {
  border-style: solid;
  border-color: red;
}

/* main section */

#section-main {
  /* position: relative; */
  background-image: url("./assets/section-main.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

#navbar {
  position: fixed;
  background-color: #000000;
  top: 0;
  opacity: 0.6;
  overflow: hidden;
  display: grid;
  width: 100%;
  height: 90px;
  grid-template-columns: 14% 40% 19%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#logo {
  margin-left: 3vw;
  text-align: center;
}

#menu-link a {
  color: #ffffff;
  text-decoration: none;
  padding: 1vw;
}

#menu-link a:hover {
  background-color: #ddd;
  color: black;
}

#menu-right a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 3vw;
  padding: 1vw;
}

#menu-right a:hover {
  background-color: #ddd;
  color: black;
}

#center-box {
  position: relative;
  top: 40vh;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5v; /* 80px */
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  border: none;
  position: relative;
  margin-top: 25px;
  /* height: 61px;
  width: 258px; */
  cursor: pointer;
  padding: 1.5vw 6vw;
  background: #ffb548;
  border-radius: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#scroll-down {
  display: table;
  position: absolute;
  background-image: url("./assets/scroll-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 5px;
  height: 7%;
  width: 100%;
  margin: 0 auto;
  animation: mymove 5s infinite;
}

#scroll-down span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5v; /* 80px */
  font-weight: 600;
  text-decoration: none;
  border: none;
  color: #ffffff;
  border: none;
}

@keyframes mymove {
  40% {
    bottom: 40px;
  }
}

/* about section */

#section-about {
  background-image: url("./assets/section-about.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

#section-feature {
  background-image: url("./assets/section-feature.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

#section-requirements {
  background-image: url("./assets/section-requirements.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

#section-top-scores {
  background-image: url("./assets/section-top-scores.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

#section-newsletter {
  background-image: url("./assets/section-newsletter.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}
